<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <h1 class="text-center mb-4">FitConnectへようこそ！</h1>
      <p class="text-center lead">
      FitConnectは、初心者や自宅で筋トレをしている人が、<br>
        モチベーションを高め合いながら継続をサポートするSNSです。
      </p>

      <div class="d-flex justify-content-center mt-5">
        <%= link_to "新規登録", new_user_registration_path, class: "btn btn-primary btn-lg mr-3" %>
        <%= link_to "ログイン", new_user_session_path, class: "btn btn-success btn-lg mr-3" %>
        <%= link_to "ゲストログイン（閲覧用）", users_guest_sign_in_path, class: "btn btn-secondary btn-lg", method: :post %>
      </div>
    </div>
  </div>
</div>